USE [MundialDB]
GO
/****** Object:  Table [dbo].[XgMinuto]    Script Date: 8/19/2026 5:04:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XgMinuto](
	[row_id] [nvarchar](255) NULL,
	[event_id] [int] NULL,
	[minute] [int] NULL,
	[xg_home] [decimal](18, 6) NULL,
	[xg_away] [decimal](18, 6) NULL,
	[cum_home] [decimal](18, 6) NULL,
	[cum_away] [decimal](18, 6) NULL,
	[received_at] [datetime2](7) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[XgMinuto] ([row_id], [event_id], [minute], [xg_home], [xg_away], [cum_home], [cum_away], [received_at]) VALUES (N'Row0_1', 8288, 12, CAST(0.095000 AS Decimal(18, 6)), CAST(0.000000 AS Decimal(18, 6)), CAST(0.095000 AS Decimal(18, 6)), CAST(0.000000 AS Decimal(18, 6)), CAST(N'2026-06-12T10:05:33.7530000' AS DateTime2))
INSERT [dbo].[XgMinuto] ([row_id], [event_id], [minute], [xg_home], [xg_away], [cum_home], [cum_away], [received_at]) VALUES (N'Row0_2', 8288, 14, CAST(0.058000 AS Decimal(18, 6)), CAST(0.000000 AS Decimal(18, 6)), CAST(0.153000 AS Decimal(18, 6)), CAST(0.000000 AS Decimal(18, 6)), CAST(N'2026-06-12T10:05:33.7530000' AS DateTime2))
INSERT [dbo].[XgMinuto] ([row_id], [event_id], [minute], [xg_home], [xg_away], [cum_home], [cum_away], [received_at]) VALUES (N'Row0_3', 8288, 22, CAST(0.000000 AS Decimal(18, 6)), CAST(0.279000 AS Decimal(18, 6)), CAST(0.153000 AS Decimal(18, 6)), CAST(0.279000 AS Decimal(18, 6)), CAST(N'2026-06-12T10:05:33.7530000' AS DateTime2))
GO
