USE [MundialDB]
GO
/****** Object:  Table [dbo].[EstadisticasPartido]    Script Date: 8/11/2026 6:16:44 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadisticasPartido](
	[row_id] [nvarchar](255) NULL,
	[event_id] [int] NULL,
	[received_at] [datetime2](7) NULL,
	[home_duels] [int] NULL,
	[home_fouls] [int] NULL,
	[home_passes] [int] NULL,
	[home_tackles] [int] NULL,
	[home_offsides] [int] NULL,
	[home_big_saves] [int] NULL,
	[home_throw_ins] [int] NULL,
	[home_clearances] [int] NULL,
	[home_free_kicks] [int] NULL,
	[home_goal_kicks] [int] NULL,
	[home_recoveries] [int] NULL,
	[home_big_chances] [int] NULL,
	[home_tackles_won] [int] NULL,
	[home_total_saves] [int] NULL,
	[home_total_shots] [int] NULL,
	[home_corner_kicks] [int] NULL,
	[home_dispossessed] [int] NULL,
	[home_hit_woodwork] [int] NULL,
	[home_yellow_cards] [int] NULL,
	[home_blocked_shots] [int] NULL,
	[home_interceptions] [int] NULL,
	[home_through_balls] [int] NULL,
	[home_total_tackles] [int] NULL,
	[home_expected_goals] [decimal](18, 6) NULL,
	[home_accurate_passes] [int] NULL,
	[home_ball_possession] [int] NULL,
	[home_goals_prevented] [decimal](18, 6) NULL,
	[home_shots_on_target] [int] NULL,
	[home_goalkeeper_saves] [int] NULL,
	[home_shots_inside_box] [int] NULL,
	[home_shots_off_target] [int] NULL,
	[home_shots_outside_box] [int] NULL,
	[home_big_chances_missed] [int] NULL,
	[home_big_chances_scored] [int] NULL,
	[home_final_third_entries] [int] NULL,
	[home_fouled_in_final_third] [int] NULL,
	[home_touches_in_penalty_area] [int] NULL,
	[home_attack] [int] NULL,
	[home_ball_safe] [int] NULL,
	[home_dangerous_attack] [int] NULL,
	[home_attack_pct] [int] NULL,
	[home_ball_safe_pct] [int] NULL,
	[home_dangerous_attack_pct] [int] NULL,
	[home_pass_accuracy_pct] [decimal](18, 6) NULL,
	[home_crosses_value] [int] NULL,
	[home_crosses_total] [int] NULL,
	[home_crosses_pct] [int] NULL,
	[home_dribbles_value] [int] NULL,
	[home_dribbles_total] [int] NULL,
	[home_dribbles_pct] [int] NULL,
	[home_long_balls_value] [int] NULL,
	[home_long_balls_total] [int] NULL,
	[home_long_balls_pct] [int] NULL,
	[home_aerial_duels_value] [int] NULL,
	[home_aerial_duels_total] [int] NULL,
	[home_aerial_duels_pct] [int] NULL,
	[home_ground_duels_value] [int] NULL,
	[home_ground_duels_total] [int] NULL,
	[home_ground_duels_pct] [int] NULL,
	[home_final_third_phase_value] [int] NULL,
	[home_final_third_phase_total] [int] NULL,
	[home_final_third_phase_pct] [int] NULL,
	[home_xg_actual] [decimal](18, 6) NULL,
	[home_punches] [int] NULL,
	[home_high_claims] [int] NULL,
	[home_errors_lead_to_a_shot] [int] NULL,
	[home_errors_lead_to_a_goal] [int] NULL,
	[home_red_cards] [int] NULL,
	[home_penalty_saves] [int] NULL,
	[received_at_away] [datetime2](7) NULL,
	[away_duels] [int] NULL,
	[away_fouls] [int] NULL,
	[away_passes] [int] NULL,
	[away_tackles] [int] NULL,
	[away_offsides] [int] NULL,
	[away_big_saves] [int] NULL,
	[away_throw_ins] [int] NULL,
	[away_clearances] [int] NULL,
	[away_free_kicks] [int] NULL,
	[away_goal_kicks] [int] NULL,
	[away_recoveries] [int] NULL,
	[away_big_chances] [int] NULL,
	[away_tackles_won] [int] NULL,
	[away_total_saves] [int] NULL,
	[away_total_shots] [int] NULL,
	[away_corner_kicks] [int] NULL,
	[away_dispossessed] [int] NULL,
	[away_hit_woodwork] [int] NULL,
	[away_yellow_cards] [int] NULL,
	[away_blocked_shots] [int] NULL,
	[away_interceptions] [int] NULL,
	[away_through_balls] [int] NULL,
	[away_total_tackles] [int] NULL,
	[away_expected_goals] [decimal](18, 6) NULL,
	[away_accurate_passes] [int] NULL,
	[away_ball_possession] [int] NULL,
	[away_goals_prevented] [decimal](18, 6) NULL,
	[away_shots_on_target] [int] NULL,
	[away_goalkeeper_saves] [int] NULL,
	[away_shots_inside_box] [int] NULL,
	[away_shots_off_target] [int] NULL,
	[away_shots_outside_box] [int] NULL,
	[away_big_chances_missed] [int] NULL,
	[away_big_chances_scored] [int] NULL,
	[away_final_third_entries] [int] NULL,
	[away_fouled_in_final_third] [int] NULL,
	[away_touches_in_penalty_area] [int] NULL,
	[away_attack] [int] NULL,
	[away_ball_safe] [int] NULL,
	[away_dangerous_attack] [int] NULL,
	[away_attack_pct] [int] NULL,
	[away_ball_safe_pct] [int] NULL,
	[away_dangerous_attack_pct] [int] NULL,
	[away_pass_accuracy_pct] [decimal](18, 6) NULL,
	[away_crosses_value] [int] NULL,
	[away_crosses_total] [int] NULL,
	[away_crosses_pct] [int] NULL,
	[away_dribbles_value] [int] NULL,
	[away_dribbles_total] [int] NULL,
	[away_dribbles_pct] [int] NULL,
	[away_long_balls_value] [int] NULL,
	[away_long_balls_total] [int] NULL,
	[away_long_balls_pct] [int] NULL,
	[away_aerial_duels_value] [int] NULL,
	[away_aerial_duels_total] [int] NULL,
	[away_aerial_duels_pct] [int] NULL,
	[away_ground_duels_value] [int] NULL,
	[away_ground_duels_total] [int] NULL,
	[away_ground_duels_pct] [int] NULL,
	[away_final_third_phase_value] [int] NULL,
	[away_final_third_phase_total] [int] NULL,
	[away_final_third_phase_pct] [int] NULL,
	[away_xg_actual] [decimal](18, 6) NULL,
	[away_punches] [int] NULL,
	[away_high_claims] [int] NULL,
	[away_errors_lead_to_a_shot] [int] NULL,
	[away_errors_lead_to_a_goal] [int] NULL,
	[away_red_cards] [int] NULL,
	[away_penalty_saves] [int] NULL
) ON [PRIMARY]
GO
